<!-- proveedores.component.html -->
<div class="sbar">
  <div class="mb-3">
    <div class="form-group">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <input id="searchInput" name="nombre" [(ngModel)]="searchText" pInputText type="text" placeholder="Buscar"
          (input)="applyFilter()" />
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button pButton type="button" (click)="showAddForm()" class="p-button-success" icon="pi pi-plus" label="Agregar proveedor"></button>
  </div>
</div>
<div class="card">
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>

  <p-table [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} proveedores"
    [rowsPerPageOptions]="[5, 10, 20]" [value]="filteredProveedores" dataKey="id" editMode="row">

    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">ID</th>
        <th style="width:20%">Nombre</th>
        <th style="width:20%">Teléfono</th>
        <th style="width:20%">Estado</th>
        <th style="width:20%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-proveedor let-ri="rowIndex">
      <tr [pEditableRow]="proveedor">
        <td>{{ proveedor.id }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="proveedor.nombre" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ proveedor.nombre }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="proveedor.telefono" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ proveedor.telefono }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputSwitch [(ngModel)]="proveedor.estado"></p-inputSwitch>
            </ng-template>
            <ng-template pTemplate="output">
              {{ proveedor.estado ? 'Activo' : 'Inactivo' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!isRowEditing(ri)" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="editRow(ri)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="isRowEditing(ri)" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="saveRow(proveedor, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="isRowEditing(ri)" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="cancelRow(ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
              (click)="deleteProveedor(proveedor.id)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Agregar un nuevo proveedor" [modal]="true" [responsive]="true" [(visible)]="showAddFormFlag"
    [style]="{width: '40vw'}">

    <div class="flexcol">

      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-pencil"></i>
          </span>
          <input id="nombre" name="nombre" [(ngModel)]="newProveedor.nombre" required pInputText type="text"
            placeholder="Nombre" />
        </div>
      </div>
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
          <input id="telefono" name="telefono" [(ngModel)]="newProveedor.telefono" required pInputText type="text"
            placeholder="Teléfono" />
        </div>
      </div>

      <p>este provedo esta activo? </p>
          <p-inputSwitch [(ngModel)]="newProveedor.estado"></p-inputSwitch>

    </div>
    
    
    <button pButton type="button" (click)="addProveedor()" class="p-button-success">Confirmar</button>
    <button pButton type="button" (click)="cancelAdd()" class="p-button-danger">Cancelar</button>
  </p-dialog>
</div>