<!-- proveedores.component.html -->
<p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ width: '450px' }">
  <div *ngIf="displayDialog">
    <h3>{{ selectedProveedor.id ? 'Editar' : 'Agregar' }} Proveedor</h3>
    <form (ngSubmit)="saveProveedor()" [formGroup]="proveedorForm">
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
          </span>
          <input id="nombrer" name="nombre" formControlName="nombre" pInputText type="text"
            placeholder="Nombre" />
        </div>
      </div>
      <div class="form-group">
        <label for="estado">
          <p>Estado:</p>
        </label>
        <p-inputSwitch type="checkbox" id="estado" name="estado" formControlName="estado"></p-inputSwitch>
      </div>
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>

          <p-inputNumber id="telefono" name="telefono" formControlName="telefono"
            placeholder="Numero telefónico" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
          </p-inputNumber>
        </div>
      </div>
      <!-- Otros campos del formulario según tu modelo de datos -->

      <div class="ui-dialog-buttonpane p-clearfix">
        <button pButton type="button" icon="pi pi-times" (click)="closeDialog()">Cancelar</button>
        <button pButton type="submit" icon="pi pi-check">Guardar</button>
      </div>
    </form>
  </div>
</p-dialog>
<p-toast></p-toast>
<p-table [value]="proveedores" selectionMode="single" [(selection)]="selectedProveedor">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre Proveedor</th>
      <th>Num_Telefono</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-proveedor>
    <tr>
      <td>{{ proveedor.nombre }}</td>
      <td>{{ proveedor.telefono}}</td>
      <td>{{ proveedor.estado}}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="editProveedor(proveedor)"></button>
        <button pButton icon="pi pi-trash" (click)="deleteProveedor(proveedor.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<button pButton label="Agregar Proveedor" icon="pi pi-plus" (click)="showDialogToAdd()"></button>