<!-- productos.component.html -->
<div class="sbar">
  <div class="mb-3">
    <div class="form-group">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <input id="searchInput" name="nombre" [(ngModel)]="searchText" pInputText type="text" placeholder="Buscar"
          (input)="applyFilter()" />
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button pButton type="button" (click)="showAddForm()" class="p-button-success" icon="pi pi-plus"
      label="Agregar productos"></button>
  </div>
</div>
<div class="card">
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>

  <p-table [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} productos"
    [rowsPerPageOptions]="[5, 10, 20]" [value]="filteredProductos" dataKey="id" editMode="row">

    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">ID</th>
        <th style="width:10%">Nombre</th>
        <th style="width:15%">Descripcion</th>
        <th style="width:5%">Categoria</th>
        <th style="width:5%">Proveedor</th>
        <th style="width:10%">Precio Compra</th>
        <th style="width:10%">Precio Venta</th>
        <th style="width:10%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-productos let-ri="rowIndex">
      <tr [pEditableRow]="productos">
        <td>{{ productos.id_producto }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="productos.Nombre_Producto" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ productos.Nombre_Producto }}
            </ng-template>
          </p-cellEditor>
        </td>
        <!-- Inicio Descripcion -->
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="productos.Descripcion" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ productos.Descripcion }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="number" [(ngModel)]="productos.Id_Categoria" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ mapearCategoria(productos.Id_Categoria) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="number" [(ngModel)]="productos.Id_Proveedor" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{ mapearProveedor(productos.Id_Proveedor) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <!-- Fin -->
       
        <!-- Inicio Precio Compra -->
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="productos.Precio_Compra" required>
            </ng-template>
            <ng-template pTemplate="output">
              C$ {{ productos.Precio_Compra }}
            </ng-template>
          </p-cellEditor>
        </td>
        <!-- Fin -->
        <!-- Inicio Precio Venta -->
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="productos.Precio_venta" required>
            </ng-template>
            <ng-template pTemplate="output">
              C$ {{ productos.Precio_venta }}
            </ng-template>
          </p-cellEditor>
        </td>
        <!-- Fin -->
       

        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!isRowEditing(ri)" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="editRow(ri)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="isRowEditing(ri)" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="saveRow(productos, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="isRowEditing(ri)" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="cancelRow(ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
              (click)="deleteProductos(productos.id_producto)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Agregar un nuevo producto" [modal]="true" [responsive]="true" [(visible)]="showAddFormFlag"
    [style]="{width: '40vw'}">

    <div class="flexcol">
      <!-- Inicio Nombre -->
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-pencil"></i>
          </span>
          <input id="nombre" name="nombre" [(ngModel)]="newProductos.Nombre_Producto" required pInputText type="text"
            placeholder="Nombre" />
        </div>
      </div>
      <!-- Fin -->
      <!-- Inicio Descripcion -->
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-paperclip"></i>
          </span>
          <input id="Descripcion" name="Descripcion" [(ngModel)]="newProductos.Descripcion" required pInputText
            type="text" placeholder="Descripcion" />
        </div>
      </div>
      <!-- Fin -->
      <!--Inicio Dropdown Categoria-->
      <div class="card flex justify-content-center">

        <p-dropdown [options]="categorias" [(ngModel)]="categoriaselect" optionLabel="Nombre_Categoria"
          placeholder="Seleccione una categoria"></p-dropdown>

      </div>
      <!--Fin-->
      <!--Inicio Dropdown Familia-->
      <div class="card flex justify-content-center">

        <p-dropdown [options]="familia" [(ngModel)]="familiaSelect" optionLabel="Nombre_familia"
          placeholder="Seleccione una Familia"></p-dropdown>

      </div>
      <!--Fin-->
      <!--Inicio Dropdown Proveedores-->
      <div class="card flex justify-content-center">

        <p-dropdown [options]="proveedores" [(ngModel)]="proveedorSelect" optionLabel="nombre"
          placeholder="Seleccione los Proveedores"></p-dropdown>
      </div>
      <!--Fin-->
      <!-- Inicio Precio Compra -->
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-dollar"></i>
          </span>
          <input id="Precio Compra" name="Precio Compra" [(ngModel)]="newProductos.Precio_Compra" required pInputText
            type="text" placeholder="Precio Compra" />
        </div>
      </div>
      <!-- Fin -->
      <!-- Inicio Precio Venta -->
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-dollar"></i>
          </span>
          <input id="Precio Venta" name="Precio Venta" [(ngModel)]="newProductos.Precio_venta" required pInputText
            type="text" placeholder="Precio Venta" />
        </div>
      </div>
      <!-- Fin -->

    </div>


    <button pButton type="button" (click)="addProductos()" class="p-button-success">Confirmar</button>
    <button pButton type="button" (click)="cancelAdd()" class="p-button-danger">Cancelar</button>
  </p-dialog>
</div>